.register {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div:nth-child(1) {
    margin-left: 2.3rem;
}

div:nth-child(2) {
    position: relative;
    width: 900px;
}

/* media query for screen size mobile */
@media (max-width: 768px) {
    .register {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    div:nth-child(1) {
        margin-left: 2.3rem;
    }

    div:nth-child(2) {
        position: relative;
        width: 900px;
    }
}