.loginForm {
    display: flex;
    flex-direction: column;
}

.formContainer {
    margin: auto auto;
    margin-top: 26vh;
}

h2 {
    margin-left: -2.2rem;
    width: 501px;
    height: 58px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 144.02%;
    text-align: center;
    color: #000000;

}

p:nth-child(2),
p {
    margin-left: -2rem;
    width: 307px;
    height: 30px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 144.02%;
    text-align: center;
    color: #525252;
}

#email,
#password {
    margin: 6px;
    padding-left: 10px;
    margin-left: -0.3rem;
    width: 400px;
    height: 40px;
    background: #FFFFFF;
    border: 2px solid #C2C2C2;
    border-radius: 5px;
}

::-webkit-input-placeholder {
    padding-left: 10px;
    color: #525252;
}

button {
    margin-left: -5px;
    width: 140px;
    height: 35px;
    background: #ED5353;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    margin-bottom: 10px;
}

button>span {
    width: 88px;
    height: 40px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 144.02%;
    text-align: center;
    color: #FFFFFF;
}

a {
    width: 75px;
    height: 30px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 144.02%;
    text-align: center;
    text-decoration-line: underline;
    color: #000000;
}